<!DOCTYPE html>

<html lang = "en">

<head>
    <title> Tech Blog </title>

    <link rel = "stylesheet" href = "../../public/css/style.css">
</head>


<body>
    <header>
        <h1> DashBoard.handlebar | Header </h1>

    </header>

    <main>
        <h1> DashBoard.handlebar | Main</h1>
        {{{body}}}
        
    </main>



    <footer>
        <h1> DashBoard.handlebar | Footer</h1>

    </footer>

</body>



<script src = "../../public/js/logoutScript.js"></script>

</html>