<!DOCTYPE html>

<html lang = "en">

<head>
    <title> Tech Blog </title>

    <link rel = "stylesheet" href = "../../public/css/style.css">
</head>


<body>
    <header>
        <h1> Hello! This is the dashboard header </h1>
    </header>




</body>










</html>