<div class = "posts">
    <h1> all-posts.handlebars | heading </h1>
    
    <!-- handlebars reference -->
    {{#each posts}}

    <article class = "postCardClass">
        <!-- Header -->
        <div>
            <!-- Referencing the models for template generation -->
            <h2> <a href = "../models/Post.js{{id}}"> {{title}} </a> </h2>
            <div>
                Posted by user {{User.username}}
            </div>
        </div>

        <!-- Body of the Post -->
        <div>
            {{ body }}
        </div>

    </article>

    {{/each}}
    
</div>