<div class = "tweet">

    <article>
        <div>
            <h1> comment.handlebars | main header </h1>
            <h2>{{post.title}}</h2>
            <div>
                Posted by user {{post.User.username}}
            </div>
        </div>

        <div class="card-body">
            {{post.body}}
        </div>

    </article>




</div>

<!-- Importing the javaScript from the appropriate folder --> 
<script src="/public/js/commentScript.js"></script>