<!-- The edit block -->
<div>
    <div>
        <h2> editPosts | Heading </h2>

    </div>

    <!-- the form that will contain the text update -->
    <div>



    </div>    

</div>

<script src = "../public/js/editScript.js"></script>