<!-- The edit block -->
<div>
    <div>
        <h2> loginHandlebars | Heading </h2>

    </div>

    <!-- the form that will contain the text update -->
    <div>
        <h2> loginHandlebars | form </h2>

        <form>
            <!-- enter username -->
            <div>
                <label for="usernameLoginHB"> Username </label>
                <input type="text" id="usernameLoginHB" />
            </div>

            <!-- enter password -->
            <div>
                <label for="passwordLoginHB"> Password </label>
                <input type="password" id="passwordLoginHB" />
            </div>

            <!-- Click the login buttin -->
            <button type = "submit" id = "loginButton" class = "button">Login!</button>
            <a type = "button" href = "/signup">Sign up instead</a>

        </form>

    </div>    

</div>

<script src = "../public/js/loginScript.js"></script>