<!-- The edit block -->
<div>
    <div>
        <h2> loginHandlebars | Heading </h2>

    </div>

    <!-- the form that will contain the text update -->
    <div>
        <h2> loginHandlebars | form </h2>

    </div>    

</div>

<script src = "../public/js/loginScript.js"></script>