<div>
    <div>
        <h2> newTweetPost | header </h2>

    </div>

    <div>
        <!-- form will be inserted below where people can add their posts --> 
        <form>


        </form>

    </div>

</div>


<script src = "../public/js/newPostScript.js"></script>