/* WIll be used as basic styling tool */

* {
    box-sizing: border-box;
}

.tweet { /* Used as the twitter comment bubble */
    border: black 2px solid; 
}

.postCardClass {
    border: blue 2px solid;

}

.navbarHeader {
    border: aquamarine 2px solid;
}